In [1]:
import numpy as np
import pandas as pd

In [2]:
# Loading the files
order_products_prior = pd.read_csv("order_products__prior.csv")
orders = pd.read_csv("orders.csv")
products = pd.read_csv("products.csv")

In [3]:
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [5]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [6]:
orders_prior = orders[orders.eval_set=="prior"]
orders_prior.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0

In [7]:
orders_prior = orders_prior.iloc[:, 0:4]
orders_prior.head()

   order_id  user_id eval_set  order_number
0   2539329        1    prior             1
1   2398795        1    prior             2
2    473747        1    prior             3
3   2254736        1    prior             4
4    431534        1    prior             5

In [8]:
product = products.iloc[:, 0:2]
product.head()

   product_id                                       product_name
0           1                         Chocolate Sandwich Cookies
1           2                                   All-Seasons Salt
2           3               Robust Golden Unsweetened Oolong Tea
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4           5                          Green Chile Anytime Sauce

In [9]:
order_product_prior = order_products_prior.iloc[:, :]
# order_product_prior.head()

In [12]:
orders_all = pd.merge(orders_prior, order_product_prior, how = 'left', on = 'order_id')
orders_all.head()

,order_id,user_id,eval_set,order_number,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,196,1,0
1,2539329,1,prior,1,14084,2,0
2,2539329,1,prior,1,12427,3,0
3,2539329,1,prior,1,26088,4,0
4,2539329,1,prior,1,26405,5,0

In [13]:
orders_all_product = pd.merge(orders_all, product, how = 'left', on = 'product_id')
orders_all_product.head()

,order_id,user_id,eval_set,order_number,product_id,add_to_cart_order,reordered,product_name
0,2539329,1,prior,1,196,1,0,Soda
1,2539329,1,prior,1,14084,2,0,Organic Unsweetened Vanilla Almond Milk
2,2539329,1,prior,1,12427,3,0,Original Beef Jerky
3,2539329,1,prior,1,26088,4,0,Aged White Cheddar Popcorn
4,2539329,1,prior,1,26405,5,0,XL Pick-A-Size Paper Towel Rolls

In [12]:
#orders_all_product['order_id'].count()

In [12]:
#orders_all_2 = orders_all_product.iloc[:1000000, :]

In [14]:
# grouped = orders_all_2.groupby(['user_id', 'product_name']).agg({'reordered': ['count', 'mean']})
# grouped.columns = ['reordered_count', 'reordered_mean']
# grouped = grouped.reset_index()
# grouped.head()

In [15]:
# ratings = pd.DataFrame(orders_all_2.groupby(['product_name'])['reordered'].count().sort_values(ascending = False))
# ratings = ratings.rename(columns={'reordered':'reordered_count'})
# ratings

In [14]:
grouped2 = pd.DataFrame(orders_all_product.groupby(['user_id', 'product_name'])['reordered'].count())
grouped2 = grouped2.reset_index()
grouped2.head()
#grouped2.to_csv('grouped_table')

   user_id                product_name  reordered
0        1    0% Greek Strained Yogurt          1
1        1  Aged White Cheddar Popcorn          2
2        1      Bag of Organic Bananas          2
3        1              Bartlett Pears          1
4        1       Cinnamon Toast Crunch          3

In [15]:
grouped2 = grouped2[grouped2['reordered'] >= 5]
grouped2.head()

    user_id                              product_name  reordered
10        1                     Organic String Cheese          8
13        1                       Original Beef Jerky         10
14        1                                Pistachios          9
15        1                                      Soda         10
23        2  Baked Organic Sea Salt Crunchy Pea Snack          5

In [16]:
grouped2.to_csv('greater_than_5')

In [17]:
Banana_reordering = matrix['Banana']
Banana_reordering

user_id
1        NaN
2        7.0
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       1.0
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       3.0
17       NaN
18       NaN
19       NaN
20       NaN
21       3.0
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       5.0
28       6.0
29       NaN
30       NaN
        ...
6438     NaN
6439     2.0
6440     NaN
6441     4.0
6442     NaN
6443     NaN
6444     NaN
6445     NaN
6446     NaN
6447     NaN
6448    20.0
6449     NaN
6450     NaN
6451     NaN
6452    10.0
6453    19.0
6454     2.0
6455     NaN
6456     NaN
6457     NaN
6458     NaN
6459     NaN
6460     NaN
6461     NaN
6462     NaN
6463     NaN
6464     6.0
6465     1.0
6466     2.0
6467     NaN
Name: Banana, Length: 6467, dtype: float64

In [44]:
similar_to_Banana = pd.DataFrame(matrix.corrwith(Banana_reordering),columns=["Correlation"]).sort_values('Correlation',ascending=False)
similar_to_Banana

                                                    Correlation
product_name
with Xylitol Unwrapped Spearmint 50 Sticks Suga...          1.0
Stew Meat                                                   1.0
Steamers Cauliflower & Cheese Sauce                         1.0
Boneless Pork Chops                                         1.0
Organic Breaded Chicken Breast Nuggets                      1.0
Organic Blueberry Pomegranate Whole Milk Yogurt             1.0
Organic Blood Orange & Honey Hard Candy                     1.0
Bone Broth Protein Turmeric                                 1.0
Organic Black Cherry Lowfat Yogurt                          1.0
Spinach Hummus                                              1.0
Stir Fry Mix                                                1.0
Body Scrub Coconut Butter                                   1.0
Organic Beets Veggie Chips                                  1.0
Organic Basil Babe Level 1 Baby Food                        1.0
Blueberry Protein Shake                                     1.0
Fruit Punch Liquid Water Enhancer                           1.0
Frozen Banana Cream Pie                                     1.0
Plant-Based Vanilla Chai Flavor Nutritional Sha...          1.0
Organic Bunny-Luv Carrots                                   1.0
Stage 2 Lentil Squash Apricot Baby Food                     1.0
Bosc Pears                                                  1.0
Stage 1 First Apples                                        1.0
Stadium Style Cooked Bratwurst                              1.0
Sriracha Tortilla Chips                                     1.0
Squeeze Mayonnaise Dressing with Olive Oil                  1.0
Squeezable Pouches Apple Sauce                              1.0
Bread, Organic, Spelt Ancient Grain                         1.0
Organic Chicken Nuggets                                     1.0
Spring Scent In-Wash Scent Booster                          1.0
Fresh Scent Fabric Refresher                                1.0
...                                                         ...
\"Mies Vanilla Rohe\" Ice Cream Bars                        NaN
\"Mokaccino\" Milk + Blue Bottle Coffee Chocolate           NaN
by Mennen Power Antiperspirant/Deodorant Fresh              NaN
flings! Laundry Detergent Pacs, Original, 57 Co...          NaN
for All Mouth Sores Fresh Mint Oral Debriding A...          NaN
for Tots Apple White Grape Juice                            NaN
for Women Maximum Absorbency L Underwear                    NaN
from Concentrate Mango Nectar                               NaN
fruitwater® Strawberry Kiwi Sparkling Water                 NaN
gelato Coffee Toffee                                        NaN
go fresh Cool Moisture Beauty                               NaN
in 100% Juice Mixed Fruit                                   NaN
in Extra Light Syrup Mango Chunks                           NaN
o.b Super Plus Fluid Lock Tampons                           NaN
of Norwich Original English Mustard Powder Doub...          NaN
pumpkin spice                                               NaN
smart Blend Chicken & Rice Formula Dry Dog Food             NaN
w/Banana Pulp Free Juice                                    NaN
with Bleach Powder Cleanser                                 NaN
with Dawn Action Pacs Fresh Scent Dishwasher De...          NaN
with Olive Oil Mayonnaise                                   NaN
with Olive Oil Mayonnaise Dressing                          NaN
with Pump Rebalancing Shampoo                               NaN
with Sweet & Smoky BBQ Sauce Cheeseburger Sliders           NaN
with Xylitol Cinnamon 18 Sticks Sugar Free Gum              NaN
with Xylitol Island Berry Lime 18 Sticks Sugar ...          NaN
with Xylitol Minty Sweet Twist 18 Sticks Sugar ...          NaN
with Xylitol Original Flavor 18 Sticks Sugar Fr...          NaN
with Xylitol Unwrapped Original Flavor 50 Stick...          NaN
with Xylitol Watermelon Twist 18 Sticks Sugar F...          NaN

[31247 rows x 1 columns]

In [46]:
similar_to_Banana = similar_to_Banana.join(ratings['reordered_count'])
similar_to_Banana

,Correlation,reordered_count
product_name,,
with Xylitol Unwrapped Spearmint 50 Sticks Sugar Free Gum,1.0,4
Stew Meat,1.0,9
Steamers Cauliflower & Cheese Sauce,1.0,12
Boneless Pork Chops,1.0,3
Organic Breaded Chicken Breast Nuggets,1.0,4
Organic Blueberry Pomegranate Whole Milk Yogurt,1.0,25
Organic Blood Orange & Honey Hard Candy,1.0,4
Bone Broth Protein Turmeric,1.0,3
Organic Black Cherry Lowfat Yogurt,1.0,25
Spinach Hummus,1.0,4
Stir Fry Mix,1.0,6
Body Scrub Coconut Butter,1.0,5
Organic Beets Veggie Chips,1.0,8
Organic Basil Babe Level 1 Baby Food,1.0,12
Blueberry Protein Shake,1.0,13
Fruit Punch Liquid Water Enhancer,1.0,14
Frozen Banana Cream Pie,1.0,4
Plant-Based Vanilla Chai Flavor Nutritional Shake Drink Mix,1.0,6
Organic Bunny-Luv Carrots,1.0,20
Stage 2 Lentil Squash Apricot Baby Food,1.0,8
Bosc Pears,1.0,48
Stage 1 First Apples,1.0,11
Stadium Style Cooked Bratwurst,1.0,7
Sriracha Tortilla Chips,1.0,7
Squeeze Mayonnaise Dressing with Olive Oil,1.0,6
Squeezable Pouches Apple Sauce,1.0,13
"Bread, Organic, Spelt Ancient Grain",1.0,15
Organic Chicken Nuggets,1.0,5
Spring Scent In-Wash Scent Booster,1.0,6
Fresh Scent Fabric Refresher,1.0,3
...,...,...
"\""Mies Vanilla Rohe\"" Ice Cream Bars",NaN,1
"\""Mokaccino\"" Milk + Blue Bottle Coffee Chocolate",NaN,3
by Mennen Power Antiperspirant/Deodorant Fresh,NaN,3
"flings! Laundry Detergent Pacs, Original, 57 Count Laundry",NaN,1
for All Mouth Sores Fresh Mint Oral Debriding Agent/Antiseptic Rinse/Pain Reliever,NaN,3
for Tots Apple White Grape Juice,NaN,3
for Women Maximum Absorbency L Underwear,NaN,2
from Concentrate Mango Nectar,NaN,2
fruitwater® Strawberry Kiwi Sparkling Water,NaN,3
gelato Coffee Toffee,NaN,3
go fresh Cool Moisture Beauty,NaN,11
in 100% Juice Mixed Fruit,NaN,2
in Extra Light Syrup Mango Chunks,NaN,2
o.b Super Plus Fluid Lock Tampons,NaN,1
of Norwich Original English Mustard Powder Double Superfine,NaN,7
pumpkin spice,NaN,6
smart Blend Chicken & Rice Formula Dry Dog Food,NaN,6
w/Banana Pulp Free Juice,NaN,1
with Bleach Powder Cleanser,NaN,2
with Dawn Action Pacs Fresh Scent Dishwasher Detergent Pacs,NaN,5
with Olive Oil Mayonnaise,NaN,19
with Olive Oil Mayonnaise Dressing,NaN,9
with Pump Rebalancing Shampoo,NaN,1
with Sweet & Smoky BBQ Sauce Cheeseburger Sliders,NaN,10
with Xylitol Cinnamon 18 Sticks Sugar Free Gum,NaN,3
with Xylitol Island Berry Lime 18 Sticks Sugar Free Gum,NaN,1
with Xylitol Minty Sweet Twist 18 Sticks Sugar Free Gum,NaN,1
with Xylitol Original Flavor 18 Sticks Sugar Free Gum,NaN,34
with Xylitol Unwrapped Original Flavor 50 Sticks Sugar Free Gum,NaN,2
with Xylitol Watermelon Twist 18 Sticks Sugar Free Gum,NaN,1

In [48]:
similar_to_Banana[similar_to_Banana['reordered_count'] >=5].sort_values('Correlation',ascending=False)
similar_to_Banana.head()

,Correlation,reordered_count
product_name,,
with Xylitol Unwrapped Spearmint 50 Sticks Sugar Free Gum,1.0,4
Stew Meat,1.0,9
Steamers Cauliflower & Cheese Sauce,1.0,12
Boneless Pork Chops,1.0,3
Organic Breaded Chicken Breast Nuggets,1.0,4